/* HOME PAGE */
h1 {
  display: flex;
  font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
  font-size: 70px;
  color: aquamarine;
  justify-content: center;
}

.main {
  display: flex;
  flex-wrap: wrap;
  flex-direction: row;
  align-items: center;
  justify-content: center;
}

.descriptions {
  display: flex;
  flex-direction: column;
  width: 250px;
  height: 520px;
  margin: 40px;
  padding: 40px 70px;
  border: dashed 5px whitesmoke;
  align-items: center;
  justify-content: center;
}

.descriptions:hover {
  transition: .1s;
  box-shadow: inset 0px 0px 30px whitesmoke;
  cursor: pointer;
}

#image {
  display: flex;
  max-width: 200px;
  max-height: 300px;
  border: ridge 10px rgb(233, 233, 233);
  margin-bottom: 10px;
}

#title {
  font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
  font-weight: bolder;
  font-size: 25px;
  text-align: center;
  margin-bottom: 20px;
  text-shadow: white 0px 2px 15px;
  color: aliceblue;
  width: 300px;
}

#price {
  color: aliceblue;
  font-size: 20px;
}

#rating {
  font-weight: bolder;
  color: yellow;
  font-size: 20px;
}

#text {
  color: red;
  font-size: 30px;
  margin-top: 15px;
}

#logMessage {
  color: aqua;
  font-size: large;
  margin-top: 10px;
}


/* NAVBAR COMPONENT */
.navBar {
  display: flex;
  justify-content: space-around;
  background-color: aqua;
  font-family: fantasy;
  font-size: larger;
}


/* SINGLE PRODUCT PAGE */
.details {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  margin-top: 80px;
}

#productImage {
  display: flex;
  max-width: 500px;
  max-height: 600px;
  border: ridge 10px rgb(233, 233, 233);
  margin-bottom: 10px;
  margin-top: 30px;
}

#productTitle {
  color: aliceblue;
  font-size: 30px;
}

#productCategory {
  color: lightgoldenrodyellow;
}

#productDescription {
  color: aliceblue;
  max-width: 700px;
  font-family: Verdana, Geneva, Tahoma, sans-serif;
}

#productPrice {
  color: aliceblue;
  font-size: 30px;
  margin-bottom: 10px;
  margin-top: 40px;
}

#productRate {
  color: yellow;
}

#productCount {
  color: aliceblue;
}

#productButton {
  cursor: pointer;
  margin-top: 10px;
}

#productButton:hover {
  background-color: lightblue;
}


/* LOGIN COMPONENT */
.login {
  display: flex;
  flex-direction: column;
  border-left: solid whitesmoke 8px;
  margin-top: 15px;
}

.label {
  border: solid black 5px;
  max-width: fit-content;
}

#loginButton {
  border: solid black 5px;
  max-width: fit-content;
  font-weight: bolder;
}

#loginButton:hover {
  background-color: lightblue;
  cursor: pointer;
}

#register {
  display: flex;
  flex-direction: row;
}

p {
  color: aliceblue;
}

#registerLink {
  display: flex;
  color: red;
  align-items: center;
  margin-left: 8px;
}


/* LOGOUT COMPONENT */
.logout {
  display: flex;
  justify-content: space-between;
}

#logoutButton {
  margin-top: 8px;
  border: solid black 5px;
  max-width: fit-content;
  font-weight: bolder;
}

#logoutButton:hover {
  background-color: lightblue;
  cursor: pointer;
}

/* REGISTRATION PAGE */
.form {
  display: flex;
  flex-direction: column;
  color: azure;
  align-items: center;
}

#h2A {
  color: azure;
  display: flex;
  justify-content: center;
  font-size: 30px;
  margin-bottom: 40px;
  margin-top: 80px;
}

/* MISCELLANEOUS */

#help {
  display: flex;
  justify-content: center;
  margin-top: 200px;
}

#jeff {
  display: flex;
  justify-content: center;
  margin-top: 80px;
}

#jeffimg {
  border-radius: 50%;
  max-width: 800px;
}


/* SHOPPING CART PAGE */
.contents {
  display: flex;
  color: aliceblue;
  background-color: gray;
  flex-direction: column;
  margin-top: 30px;
  border: groove black 15px;
}

.header {
  border-bottom: double black 10px;
  font-weight: bolder;
  margin-bottom: 10px;
  font-size: larger;
  padding: 5px;
}

.item {
  display: flex;
  flex-direction: row;
  justify-content: space-evenly;
  margin: 15px;
}

.pair {
  display: flex;
  flex-direction: column;
  font-family:system-ui, -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
  font-weight: bold;
}

#deleteButton {
  display: flex;
  margin-left: 95.5%;
  font-size: 15px;
  margin-bottom: 8px;;
}

#deleteButton:hover {
  background-color: lightcoral;
  cursor: pointer;
}

#h2B {
  color: azure;
  display: flex;
  justify-content: center;
  font-size: 30px;
}

#removeMessage {
  display: flex;
  justify-content: right;
  color: red;
}