h1 {
  display: flex;
  font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
  font-size: 70px;
  color: aquamarine;
  justify-content: center;
}

.main {
  display: flex;
  flex-wrap: wrap;
  flex-direction: row;
  align-items: center;
  justify-content: center;
}

.descriptions {
  display: flex;
  flex-direction: column;
  width: 250px;
  height: 520px;
  margin: 40px;
  padding: 30px 70px;
  border: dashed 5px whitesmoke;
  align-items: center;
  justify-content: center;
}

.descriptions:hover {
  transition: .1s;
  box-shadow: inset 0px 0px 30px whitesmoke;
  cursor: pointer;
}

#image {
  display: flex;
  max-width: 200px;
  max-height: 300px;
  border: ridge 10px rgb(233, 233, 233);
  margin-bottom: 10px;
}

#title {
  font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
  font-weight: bolder;
  font-size: 25px;
  text-align: center;
  margin-bottom: 20px;
  text-shadow: white 0px 2px 15px;
  color: aliceblue;
  width: 300px;
}

#price {
  color: aliceblue;
  font-size: 20px;
}

#rating {
  font-weight: bolder;
  color: yellow;
  font-size: 20px;
}

#text {
  color: red;
  font-size: 30px;
  margin-top: 15px;
}

.details {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}

#productImage {
  display: flex;
  max-width: 500px;
  max-height: 600px;
  border: ridge 10px rgb(233, 233, 233);
  margin-bottom: 10px;
}

#productTitle {
  color: aliceblue;
  font-size: 25px;
}

#productCategory {
  color: lightgoldenrodyellow;
}

#productDescription {
  color: aliceblue;
  max-width: 700px;
  font-family: Verdana, Geneva, Tahoma, sans-serif;
}

#productPrice {
  color: aliceblue;
}

#productRate {
  color: yellow;
}

#productCount {
  color: aliceblue;
}

.login {
  display: flex;
  flex-direction: column;
  border-left: solid whitesmoke 8px;
}

.label {
  border: solid black 5px;
  max-width: fit-content;
}

.logRegButton {
  border: solid black 5px;
  max-width: fit-content;
}

.logRegButton:hover {
  background-color: lightblue;
  cursor: pointer;
}